# -*- coding: utf-8 -*-

{
    'name': '{{ module_name }}',
    'version': '{{ module_version }}',
    'author': '{{ module_author }}',
    'depends': [],
    'data': [],
    'installable': True,
    'auto_install': False,
}